{% extends 'base.html' %}
{% load markup %}

<title>{% block title %}{{ place.name }} Health Profile{% endblock %}</title>

{% block head_javascript %}

{{ block.super }}

{% include "visualizations/_swfobject.html" %}

<script type="text/javascript">
jQuery(document).ready(function($) {

{% for row in visualization_rows %}
  {% for slot in row %}
    {% with vis=slot.visualization %}
      {% if slot.ok %}
    swfobject.embedSWF(
      "{{ WEAVE_URL }}weave.swf", 
      "{{ slot.name }}", 
      {{ slot.get_width }}, {{ slot.get_height }}, 
      "10.0.0",
      "expressInstall.swf", 
      {
		file: "http://{{ CURRENT_SITE.domain }}{% url visualizations.views.visualization_xml vis.id place.id %}"
	  }, 
      HEMA.swfobject.params,
      {
        id: "{{ slot.name }}",
        name: "{{ slot.name }}"
      }
    );

      {% endif %}
    {% endwith %}
  {% endfor %}
{% endfor %}

    // Flash available
    if (swfobject.getFlashPlayerVersion()["major"] > 0) {
        $(".swfobject-container-div p:first").remove();
    }
});
</script>

{% endblock %} 

{% block bodyclass %}
<body class="profile">
{% endblock %} 

{% block content %}  

<div class="span9">
<h2>Health Profile: {{place.name}}</h2>
<div class="place_profile">{{place.profile|markdown}}</div>
<div class="place_map"></div>

</div>
{% for row in visualization_rows %}
<div class="row-of-visualizations">
{% if row.0.title %}<h2>{{ row.0.title }}</h2>
{% endif %}
{% for slot in row %}
<div id="{{ slot.name }}" class="swfobject-container-div">
{% if slot.ok %}
{% with vis=slot.visualization %}
{% if vis.visualization.thumbnail %}
<img src="{{ MEDIA_URL }}{{ vis.visualization.thumbnail }}" alt="">
{% endif %}
<p>Please install the
<a href="http://get.adobe.com/flashplayer/">Adobe Flash Player</a>
to interact with this visualization.</p>
{% endwith %}
{% else %}
Viaualization "{{ slot.name }}" does not exist or has a bad type.
{% endif %}
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %} 
