{% extends 'base.html' %}
{% load heroes_extras %}

<title>{% block title %}{{flatpage.title}}{% endblock %}</title>

{% block head_javascript %}
{{ block.super }}
<style type="text/css" title="text/css">

</style>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-plugins.js"></script>


{% endblock %} 

{% block bodyclass %}
<body class="home">
{% endblock %} 
{% block sidenav %}{% endblock %}

{% block content %} 


<!-- home_slider -->
<div class="home_slider">
	<div class="home_slide">
{% heroes "homepage" as my_heroes %}
{% for hero in my_heroes %}

		<div class="home_slide_box">
			<div class="home_slide_box_img">
				<img src="{{ hero.image.url }}" alt="" width="340" height="244" />
			</div>
			<div class="home_slide_box_content">
				<div class="home_slide_box_content_pad">
					<div class="home_slide_box_nav_title">
						{{ hero.title }}
						<span class="home_slide_box_nav_subtitle">
							{{ hero.type }}
						</span>
					</div>
					<span class="home_slide_box_title">
						{{ hero.title }} 
					</span>
					<div class="home_slide_box_subtitle">
						{{ hero.type }} 
					</div>
					<div class="home_slide_box_text page_content">
						<p>
							{{ hero.description }}
						</p>
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
		</div>

	
{% endfor %}
</div>	</div>
<!-- /home_slider -->



<div class="span12">
{{flatpage.content}}


	<div id="mamc_map_container">
		<div id="mamc_map">
	
	</div>
	</div>


</div>


{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include "_map_inc.html" %}
    <script type="text/javascript">

        // background layers
        var basemap = new L.MAPCTileLayer("basemap");

        // overlays
        var projects = new L.GeoJSON();
        projects.on("featureparse", function (e) {  
            if (e.properties && e.properties.popupContent) {
                e.layer.bindPopup(e.properties.popupContent);
            }
        });
        
        // map
        var boston = new L.LatLng(42.357778, -71.061667);
        var map = new L.Map("mamc_map",{
            minZoom: 9,
            maxZoom: 17
        })
        .setView(boston, 9)
        .addLayer(basemap);

        // TODO: load GeoJSON with projects

    </script>
{% endblock %}