{% extends 'base.html' %}
{% load heroes_extras %}

<title>{% block title %}{{flatpage.title}}{% endblock %}</title>

{% block head_javascript %}
{{ block.super }}
<style type="text/css" title="text/css">

</style>


<!--
<script language="JavaScript" src="http://metrobostondatacommon.org/media/mbdc/js/jquery-plugins.js" type="text/javascript"></script> 

<script language="JavaScript" src="http://metrobostondatacommon.org/media/mbdc/js/mbdc.min.js" type="text/javascript"></script> 
-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-plugins.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hema-min.js"></script> 

{% endblock %} 

{% block bodyclass %}
<body class="home">
{% endblock %} 
{% block sidenav %}{% endblock %}

{% block content %} 


<!-- home_slider -->
<div class="home_slider">
	<div class="home_slide">
{% heroes "homepage" as my_heroes %}
{% for hero in my_heroes %}

		<div class="home_slide_box">
			<div class="home_slide_box_img">
				<img src="{{ hero.image.url }}" alt="" width="340" height="244" />
			</div>
			<div class="home_slide_box_content">
				<div class="home_slide_box_content_pad">
					<div class="home_slide_box_nav_title">
						{{ hero.title }}
						<span class="home_slide_box_nav_subtitle">
							{{ hero.type }}
						</span>
					</div>
					<span class="home_slide_box_title">
						{{ hero.title }} 
					</span>
					<div class="home_slide_box_subtitle">
						{{ hero.type }} 
					</div>
					<div class="home_slide_box_text page_content">
						<p>
							{{ hero.description }}
						</p>
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
		</div>

	
{% endfor %}
</div>	</div>
<!-- /home_slider -->



<div class="span12">
{{flatpage.content}}


	<div id="mamc_map_container">
		<div id="mamc_map">
	
	</div>
	</div>


</div>


{% endblock %}
